// ? global color tokens
$_clr-neutral-100: hsl(0deg 0% 98%);
$_clr-neutral-200: hsl(240deg 6% 90%);
$_clr-neutral-300: hsl(0deg 0% 90%);
$_clr-neutral-400: hsl(221deg 13% 46%);
$_clr-neutral-900: hsl(220deg 19% 13%);
$_clr-blue-100: hsl(220deg 84% 90%);
$_clr-blue-400: hsl(221deg 83% 53%);
$colors: (
  "neutral": (
    100: $_clr-neutral-100,
    200: $_clr-neutral-200,
    300: $_clr-neutral-300,
    400: $_clr-neutral-400,
    900: $_clr-neutral-900,
  ),
  "primary": (
    100: $_clr-blue-100,
    400: $_clr-blue-400,
  )
);
