---
import Button from "@components/buttons/Button.astro"
---

<section class='hero txt-neutral-100'>
  <div class='container flex-group' data-flex-position='center'>
    <h1 class='heading-1 text-center anime-fade-in'>Expert Plumbing Services at Your Fingertips</h1>
    <p class='text-center anime-fade-in delay-300'>
      Looking for reliable plumbing services? <span class='fw-bold'> On Time Solution Corp</span> has
      got you covered. Our experienced plumbers offer comprehensive plumbing solutions to meet all your
      needs. With over <span class='fw-bold'> 25 years of experience</span>, we're committed to
      providing top-quality service at a fair price. Contact us today and experience the On Time
      Solution Corp difference.
    </p>
    <div class='btn-container flex-group' data-flex-position='center'>
      <Button link='tel:+1-347-202-9185'>Call us!</Button>

      <Button link='./#contact-us'>Contact Us</Button>
    </div>
  </div>
  <div class='hero-bg-gradient'></div>
  <div class='hero-bg-image'></div>
</section>
