<section class='brand padding-block-10'>
  <div class='container grid-auto-fit mx-auto'>
    <img src='/assets/svg/wm-logo.svg' alt='' />
    <img src='/assets/svg/navien-logo.svg' alt='' />
    <img src='/assets/svg/kohler.svg' alt='' />
    <img src='/assets/svg/delta-logo.svg' alt='' />
    <img src='/assets/svg/american-standard-logo.svg' alt='' />
  </div>
</section>
<!--  this component should be other type more like a layout -->
