---
import Brands from "@components/brands/Brands.astro"
import Card from "@components/card/Card.astro"
import Hero from "@components/hero/Hero.astro"
import Reviews from "@components/reviews/Reviews.astro"
import General from "@layouts/General.astro"
import Sections from "@layouts/Sections.astro"
---

<General>
  <Hero />
  <Brands />
  <Sections sectionClass='why-choose-us padding-block-10' containerClass=''>
    <h2 class='heading-2 text-neutral-100'>Why Choose Us?</h2>
    <p class='txt-neutral-900 text-center'>
      At On Time Solution Corp, we understand that you have many options when it comes to choosing a
      plumbing company. Here are just a few reasons why we believe we stand out from the competition
    </p>

    <div class='card-container grid-auto-fit margin-block-start-8'>
      <Card
        title='25+'
        subTitle='Years of Experience'
        description='With over 25 years of experience in the plumbing industry, we have the knowledge and expertise to handle any plumbing issue.'
      />
      <Card
        img={"/assets/svg/check.svg"}
        subTitle='Customer Satisfaction'
        description='We know that plumbing emergencies can happen at any time, which is why we offer 24/7 emergency service to our customers.'
      />
      <Card
        title='Upfront Pricing'
        subTitle='Transparent and Honest Pricing'
        description='We believe in providing upfront pricing to our customers, so there are no surprises or hidden fees.'
      />
      <Card
        title='Professionalism'
        subTitle='Committed to Customer Satisfaction'
        description='We take pride in our professionalism and commitment to customer service. From arriving on time to treating your home with respect, we go above and beyond to ensure your satisfaction.'
      />
      <Card
        title='Licensed'
        subTitle='Professional & Reliable'
        description="We're committed to ensuring our customers are completely satisfied with our work. If for any reason you're not happy with our service, we'll make it right."
      />
      <Card
        title='What We Offer'
        subTitle='Comprehensive Services'
        description='From leak detection to full home inspections, we offer a wide range of plumbing services to meet all of your needs. No matter the job, we have the expertise to get it done right.'
      />
    </div>
  </Sections>
  <Sections sectionClass='reviews padding-block-10' containerClass='padding-inline-6'>
    <p class='text-center'>180 + people have said how good On Time Solution is</p>
    <h2 class='heading-2'>Our clients say about us</h2>
    <div class='reviews-container grid-auto-fit'>
      <Reviews
        description={`"I've used On Time Solution Corp for multiple plumbing projects over the years and they've never let me down. Their team is always friendly, professional, and goes above and beyond to ensure customer satisfaction. “`}
        profileName='Louis Garrison'
        imageLink='/assets/images/profile-6.png'
      />
      <Reviews
        description={`"On Time Solution Corp is the best plumbing company I've ever worked with. They were professional, knowledgeable, and got the job done quickly. I highly recommend them to anyone in need of plumbing services."`}
        profileName='Stefan Fermin'
        imageLink='/assets/images/profile-1.png'
      />
      <Reviews
        description={`“I had an emergency plumbing issue in the middle of the night and On Time Solution Corp was there to save the day. They arrived promptly and fixed the problem quickly. I couldn't have asked for better service."`}
        profileName='John Johnson'
        imageLink='/assets/images/profile-2.png'
      />
      <Reviews
        description={`"I recently had a leak in my kitchen sink and On Time Solution Corp was able to fix it quickly and efficiently. They were professional and courteous throughout the entire process"`}
        profileName='Mike Thompson'
        imageLink='/assets/images/profile-3.png'
      />
      <Reviews
        description={`"I've used On Time Solution Corp for multiple plumbing projects over the years and they've never let me down. Their team is always friendly, professional, and goes above and beyond to ensure customer satisfaction. “`}
        profileName='Lisa Chen'
        imageLink='/assets/images/profile-5.png'
      />
      <Reviews
        description={`“They were able to complete the project on time and within budget, and the quality of their work was top-notch. I would highly recommend them to anyone in need of plumbing services." `}
        profileName='David Lee'
        imageLink='/assets/images/profile-4.png'
      />
    </div>
  </Sections>
</General>
