@use "../abstracts/" as *;

.heading-1 {
  color: var(--text-color);
  font-weight: $heading-font-weight;
  font-size: clamp(1.5rem, calc(-0.17rem + 7.14vw), 6.25rem);
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  letter-spacing: inherit;
  max-inline-size: 24ch;
}

.heading-2 {
  font-weight: $font-weight-bold;
  font-size: clamp(1.5rem, calc(-0.17rem + 7.14vw), 5.7rem);
}

.heading-3 {
  color: var(--text-color);
  font-weight: $font-weight-bold;
  font-size: 32px;
}
