---
import HamburgerMenu from "@components/icons/Burger-menu.astro"
import Nav from "@components/navbar/Nav.astro"
---

<header class='header'>
  <div class='container flex-group mx-auto' data-flex-position='center-space-between'>
    <span class='fw-bold txt-primary-100'>LOGO</span>
    <HamburgerMenu />
    <Nav />
  </div>
</header>
