<nav id='primary-nav' class='nav' aria-hidden='true'>
  <ul class='flow'>
    <li class='nav-item' data-status='active'><a href='#'>Our Services</a></li>
    <li class='nav-item'><a href='#why-us'>Why Us</a></li>
    <li class='nav-item'><a href='./our-work'>Our Work</a></li>

    <li class='nav-item'><a href='#contact-us'>Contact Us</a></li>
  </ul>
  <div class='social-container'>
    <img src='#' alt='' /><img src='#' alt='' />
  </div>
</nav>

<script>
  const hamburgerMenu = document.getElementById("hamburger") as HTMLDivElement
  const navigation = document.getElementById("primary-nav") as HTMLDivElement

  hamburgerMenu.addEventListener("click", () => {
    toggleNavigation()
  })

  function toggleNavigation() {
    if (navigation.getAttribute("aria-hidden") === "true") {
      navigation.classList.add("dp-block")
      setTimeout(() => {
        navigation.setAttribute("aria-hidden", "false")
      }, 100)
    } else {
      navigation.setAttribute("aria-hidden", "true")
      setTimeout(() => {
        navigation.classList.remove("dp-block")
      }, 500)
    }
  }
</script>
