---
const { id = "primary-nav" } = Astro.props
---

<nav id={id} class='nav' aria-hidden='true' role='navigation'>
  <ul class='flow' role='menu'>
    <li class='nav-item' data-status='active' role='menuitem' aria-current='page'>
      <a href='./#our-services' tabindex='-1'>Our Services</a>
    </li>
    <li class='nav-item' role='menuitem'><a href='./#why-choose-us' tabindex='-1'>Why Us</a></li>
    <li class='nav-item' role='menuitem'><a href='./our-work' tabindex='-1'>Our Work</a></li>
    <li class='nav-item' role='menuitem'><a href='./#contact-us' tabindex='-1'>Contact Us</a></li>
  </ul>
  <div class='social-container'>
    <img src='#' alt='' /><img src='#' alt='' />
  </div>
</nav>

<script>
  const hamburgerMenu = document.getElementById("hamburger") as HTMLDivElement
  const navigation = document.getElementById("primary-nav") as HTMLDivElement

  hamburgerMenu.addEventListener("click", () => {
    toggleNavigation()
  })

  function toggleNavigation() {
    if (navigation.getAttribute("aria-hidden") === "true") {
      navigation.classList.add("dp-block")
      setTimeout(() => {
        navigation.setAttribute("aria-hidden", "false")
      }, 100)
    } else {
      navigation.setAttribute("aria-hidden", "true")
      setTimeout(() => {
        navigation.classList.remove("dp-block")
      }, 500)
    }
  }
</script>
