---
import ButtonScroll from "@components/button-scroll/Button-scroll.astro"
import Sections from "@layouts/Sections.astro"
import FadeImages from "@components/images/FadeImages.astro"
import SectionHeader from "@components/section-header/Section-header.astro"
---

<Sections id='our-services' sectionClass='our-services'>
  <SectionHeader
    title='Our Services'
    description='We offer a wide range of plumbing services to meet your needs, from basic repairs to full installations. Our experienced technicians are committed to providing high-quality service with upfront pricing and exceptional customer service.'
  />

  <div class='content-container margin-block-start-8'>
    <ButtonScroll />
    <FadeImages />
  </div>
</Sections>

<style>
  .content-container {
    block-size: 100%;
    display: grid;
    width: 100%;
    overflow: hidden;
    gap: 3rem;
  }

  @media (min-width: 42em) {
    .content-container {
      grid-template-columns: 1fr 1.5fr;
      justify-items: center;
      justify-content: center;
      gap: 1rem;
    }
  }
</style>
