@use "../abstracts/" as *;

.brand .container {
  --min-item-width: #{rem(120)};

  align-items: center;

  @include mq(medium) {
    --min-item-width: #{rem(200)};
  }

  @include mq(large) {
    --min-item-width: #{rem(150)};
  }
}
