@use "../abstracts/" as *;

.hero {
  position: relative;

  overflow: hidden;
  padding-block-start: rem(80);
  block-size: 90vh;

  .container {
    flex-direction: column;

    gap: rem(30);
    margin-block-start: $size-10;

    @include mq(medium) {
      margin-block-start: 6rem;
    }
  }

  h1,
  p,
  .btn {
    opacity: 0;
  }

  p {
    max-inline-size: 100ch;

    font-size: clamp(1rem, calc(0.91rem + 0.38vw), 1.25rem);
  }
}

.hero-bg-image {
  position: absolute;
  z-index: -2;

  background-image: url("/assets/images/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transform: scale(1.1);

  filter: blur(rem(2));
  inset: 0;
  inline-size: 120%;
  block-size: 100%;
}

.hero-bg-gradient {
  position: absolute;
  z-index: -1;

  background:
    linear-gradient(
      180deg,
      hsl(0deg 0% 86% / 20%) 0%,
      hsl(0deg 0% 15% / 30.2%) 20%,
      hsl(0deg 0% 9% / 80.7%) 100%
    );
  transform: scale(1.1);
  backdrop-filter: blur(rem(4));
  inset: 0;
  inline-size: 100%;
  block-size: 100%;
}
